body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: #2b2b2b;
}

.wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
}

table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}

tr {
  display: table-row;
  background: #f6f6f6;
}
tr:nth-of-type(odd) {
  background: #e9e9e9;
}

th {
  font-weight: 900;
  color: #ffffff;
  background: #2980b9;
}

td {
  padding: 6px 12px;
  display: table-cell;
}
